{% extends 'layout.html.twig' %}
{% block navBar %}
	{% include 'defaultNav.html.twig' %}
{% endblock %}
{% block pageTitle %}Changer de mail{% endblock %}

{% block pageContent %}
	<div class="well">
		<form class="form-signin form-horizontal" role="form" action="changeTelScrU" method="post">
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<input id="change_id" type="hidden" name="_id" class="form-control" value="{{ app.user.id }}"><br/>
    				<label for="change_tel">Nouveau numéro de téléphone</label>
					<input id="change_tel" type="tel" name="_tel" class="form-control" value="{{ app.user.telephone }}"><br/>
					<button type="submit" class="btn btn-default btn-primary pull-right"><span class="glyphicon glyphicon-log-in"></span> Modifier</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}