{% extends 'layout.html.twig' %}
{% block navBar %}
	{% include 'defaultNav.html.twig' %}
{% endblock %}
{% block pageTitle %}Changer de mail{% endblock %}

{% block pageContent %}
	<div class="well">
		<form class="form-signin form-horizontal" role="form" action="changeAdrScrU" method="post">
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<input id="change_id" type="hidden" name="_id" class="form-control" value="{{ app.user.id }}"><br/>
    				<label for="change_ville">Ville</label>
					<input id="change_ville" type="text" name="_ville" class="form-control" value="{{ app.user.ville }}"><br/>
    				<label for="change_adresse">Adresse</label>
					<input id="change_adresse" type="text" name="_adr" class="form-control" value="{{ app.user.adresse }}"><br/>
					<p class="help-block">Vérifiez bien les informations, elles nous servent à vous livrer.</p>
					<button type="submit" class="btn btn-default btn-primary pull-right"><span class="glyphicon glyphicon-log-in"></span> Modifier</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}