/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* margin-top: 50px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #88bb55;
}

.footer > div > div > ul{
    display: block;
    vertical-align: top;
    float: left;
    position: relative;
    width: 20%;
    margin: auto;
}

.footer > div > div > ul > li{
    margin: 0;
    padding-left: 0;
    list-style: square;
    text-align: left;
    list-style-position: inside;
}

.footer > h4 {
    border-top: groove
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

#logoNav {
    max-height: 50px;
    max-width:100px;
    margin-top: -7px;
}

.footerSentence {
    padding-top: 5%;
}

.paveNum {
    padding-top: 10%;
    margin: auto;
    width: 200px;
    height: 200px;
}
.motDePasseTable {

    border-collapse: separate;
    border-spacing: 2px;
}

.remember {
    text-align: center;
}

.motDePasseTable tr td {

    border-radius: 7px;
    transition: all 0.2s;
    cursor: pointer;
    text-align: center;

    background-color: rgba(134, 215, 119, 1.0);
}

.motDePasseTable tr td:hover
{
    background-color: rgba(134, 215, 119, 0.5);
    cursor: pointer;
    border-radius: 10px;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://placehold.it/1900x500') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

.navBarLogo {
    max-width: 150px;
    margin-top: -7px;
}

.navbar-brand > img {
    height: 50px;
    margin-bottom: 60px;
    margin-top: -15px;
}

#logoHome {
    margin-bottom: -120px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table th {
   text-align: center;   
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-brown {
    border-color: #7B4224;
}

.panel-brown .panel-heading {
    border-color: #7B4224;
    color: #fff;
    background-color: #7B4224;
}

.panel-brown a {
    color: #7B4224;
}

.panel-brown a:hover {
    color: #86492A;
}

.huge {
    font-size: 40px;
}

.midhuge {
    font-size: 20px;
}

.semimidhuge {
    font-size: 15px;
}